In [2]:
import pandas as pd

In [3]:
data = pd.read_parquet("three_states_2.parquet", engine="pyarrow")

In [4]:
data.head(10)

  BUYER_COUNTY BUYER_STATE TRANSACTION_DATE  CALC_BASE_WT_IN_GM       MME
0   WILLIAMSON          TX       2019-01-31             26.8950  40342.50
1        BEXAR          TX       2019-01-25             18.1620  18162.00
2       HARDIN          TX       2019-01-25              3.0270   3027.00
3   MONTGOMERY          TX       2019-01-25              6.0540   6054.00
4    VAN ZANDT          TX       2019-01-25              3.0270   3027.00
5      LIBERTY          TX       2019-01-25              6.0540   6054.00
6      LIBERTY          TX       2019-01-25              6.0540   6054.00
7        SMITH          TX       2019-02-11              2.6895   4034.25
8     CHAMBERS          TX       2019-02-11              3.0270   3027.00
9         HUNT          TX       2019-02-11              3.0270   3027.00

In [5]:
data["BUYER_STATE"].unique()

array(['TX', 'WA', 'FL'], dtype=object)

In [9]:
unique_counties = data.groupby("BUYER_STATE")["BUYER_COUNTY"].unique().to_frame()

In [12]:
unique_counties.iloc[0][0]

array(['SAINT JOHNS', 'PALM BEACH', 'DUVAL', 'MARION', 'LEE', 'BROWARD',
       'PINELLAS', 'VOLUSIA', 'LEON', 'LAKE', 'POLK', 'ORANGE',
       'HILLSBOROUGH', 'CHARLOTTE', 'PUTNAM', 'HERNANDO', 'OKEECHOBEE',
       'BREVARD', 'LEVY', 'SARASOTA', 'DE SOTO', 'MANATEE', 'COLLIER',
       'SEMINOLE', 'JACKSON', 'PASCO', 'MIAMI-DADE', 'MARTIN',
       'SAINT LUCIE', 'BAY', 'FLAGLER', 'ALACHUA', 'CLAY', 'NASSAU',
       'ESCAMBIA', 'SANTA ROSA', 'WALTON', 'OKALOOSA', 'INDIAN RIVER',
       'CITRUS', 'SUMTER', 'OSCEOLA', 'HIGHLANDS', 'TAYLOR', 'SUWANNEE',
       'HENDRY', 'MONROE', 'HOLMES', 'WAKULLA', 'COLUMBIA', 'WASHINGTON',
       'GADSDEN', 'GULF', 'HARDEE', 'GILCHRIST', 'CALHOUN', 'BAKER',
       'BRADFORD', 'LIBERTY', 'DIXIE', 'MADISON', 'LAFAYETTE', 'UNION',
       'FRANKLIN', 'JEFFERSON', 'HAMILTON', 'GLADES', None], dtype=object)

In [13]:
data.dtypes

BUYER_COUNTY           object
BUYER_STATE            object
TRANSACTION_DATE       object
CALC_BASE_WT_IN_GM    float64
MME                   float64
dtype: object

Create a datetime variable and add new year column

In [14]:
data["TRANSACTION_DATE"] = pd.to_datetime(data["TRANSACTION_DATE"])

In [15]:
data["TRANSACTION_YEAR"] = data["TRANSACTION_DATE"].dt.year

In [16]:
data.head(10)

,BUYER_COUNTY,BUYER_STATE,TRANSACTION_DATE,CALC_BASE_WT_IN_GM,MME,TRANSACTION_YEAR
0,WILLIAMSON,TX,2019-01-31,26.8950,40342.50,2019
1,BEXAR,TX,2019-01-25,18.1620,18162.00,2019
2,HARDIN,TX,2019-01-25,3.0270,3027.00,2019
3,MONTGOMERY,TX,2019-01-25,6.0540,6054.00,2019
4,VAN ZANDT,TX,2019-01-25,3.0270,3027.00,2019
5,LIBERTY,TX,2019-01-25,6.0540,6054.00,2019
6,LIBERTY,TX,2019-01-25,6.0540,6054.00,2019
7,SMITH,TX,2019-02-11,2.6895,4034.25,2019
8,CHAMBERS,TX,2019-02-11,3.0270,3027.00,2019
9,HUNT,TX,2019-02-11,3.0270,3027.00,2019

##  Death data

In [36]:
import os


def replace_in_files(folder_path, old_text, new_text):
    for filename in os.listdir(folder_path):
        if filename.endswith(".txt"):
            file_path = os.path.join(folder_path, filename)
            with open(file_path, "r") as file:
                filedata = file.read()

            # Replace the target string
            filedata = filedata.replace(old_text, new_text)

            # Write the file out again
            with open(file_path, "w") as file:
                file.write(filedata)


# Replace 'your_folder_path' with the path of the folder containing your text files
folder_path = "/Users/udyansachdev/Downloads/US_VitalStatistics"

# Replace 'abcd' with the old text you want to replace, and 'ram' with the new text
old_text = """---"
"Dataset: Underlying Cause of Death, 1999-2017"
"Query Parameters:"
"Group By: County; Year; Drug/Alcohol Induced Cause"
"Show Totals: Disabled"
"Show Zero Values: Disabled"
"Show Suppressed: False"
"---"
"Help: See http://wonder.cdc.gov/wonder/help/ucd.html for more information."
"---"
"Suggested Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death"
"1999-2017 on CDC WONDER Online Database, released December, 2018. Data are from the Multiple Cause of Death Files, 1999-2017, as"
"compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed"
"at http://wonder.cdc.gov/ucd-icd10.html on Oct 1, 2019 2:59:43 PM"
"---"""
new_text = ""

replace_in_files(folder_path, old_text, new_text)

In [37]:
import os


def merge_text_files(folder_path, output_file):
    with open(output_file, "w") as outfile:
        for filename in os.listdir(folder_path):
            if filename.endswith(".txt"):
                file_path = os.path.join(folder_path, filename)
                with open(file_path, "r") as infile:
                    outfile.write(infile.read())


# Replace 'your_folder_path' with the path of the folder containing your text files
folder_path = "/Users/udyansachdev/Downloads/US_VitalStatistics"

# Replace 'output.txt' with the desired name for the merged file
output_file = "output.txt"

merge_text_files(folder_path, output_file)

In [38]:
import csv
import re

# Read the contents of the text file
with open("output.txt", "r", encoding="utf-8") as f:
    data = f.read()

# Specify the CSV file name
csv_file_name = "output.csv"

# Use a regular expression to split lines based on spaces (adjust the pattern accordingly)
pattern = re.compile(r"\s+")

# Write the contents to a CSV file
with open(csv_file_name, "w", newline="", encoding="utf-8") as csv_file:
    csv_writer = csv.writer(csv_file)

    # Write each line as a row in the CSV file
    for line in data.split("\n"):
        csv_writer.writerow(pattern.split(line.strip()))

print(f"The contents have been successfully saved in {csv_file_name}")

The contents have been successfully saved in output.csv

In [39]:
df = pd.read_csv(
    "output.txt", sep=r"\t", encoding="utf-8", engine="python"
).reset_index(drop=True)

In [40]:
df = df.loc[:57432]

In [41]:
colnames = list(df.columns.values)[1:]

In [42]:
df = df.drop("Deaths", axis=1)

In [43]:
df.columns = colnames

In [48]:
df = df[df.County != '""']
df = df[df.County != "Notes"]

In [49]:
# Missing value of death
df["Deaths"].value_counts()["Missing"]

40

##### Death number as 999 need to be corrected

In [53]:
df.to_csv("US_Vital_Stats_Deaths.csv", index=False)